@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #ffffff;
  --secondary: #010362;
  --accent: #ff9900;
  --background: #f5f5f5;
  --text-primary: #222222;
  --text-secondary: #555555;
  --header-bg: #000000;
  --footer-bg: #000000;
  --font-lubrifont: 'WDXL Lubrifont TC', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font-lubrifont);
}

.menu-hover {
  @apply px-3 py-1 rounded-md transition-all duration-200 text-[var(--primary)];
}

.menu-hover:hover {
  background-color: var(--primary);
  color: var(--header-bg);
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

/* Para usar globalmente se preferir */
.iteration-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.iteration-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 256px;
  max-width: 90vw;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.iteration-card:hover {
  transform: scale(1.05);
}

.iteration-icon {
  width: 256px;
  height: 256px;
  object-fit: contain;
}

.iteration-label {
  margin-top: 1rem;
  font-size: 1.25rem;
  text-align: center;
  color: var(--text-primary);
}